<?xml version="1.0"?>

<launch>

<group>

    <!-- v4l2_camera, lighter for raw but heavier for compressed  -->
    <!-- camera parameters can be changed at runtime (aperture, brightness, etc.) -->
    <!--         <param name="pixel_format" value="mjpg"/> -->  <!-- not supported -->
<!--    <node pkg="v4l2_camera" exec="v4l2_camera_node" name="camera" >
        <param name="video_device" value="/dev/video0"/>
        <param name="camera_frame_id" value="camera"/>
        <param name="image_size" value="[800,600]"/>
        <param name="camera_info_url" value="file://$(find-pkg-share blurr)/config/cam_air.yaml"/>
    </node>-->

    <!-- usb_cam (ros-drivers) -->
<!--    <node pkg="usb_cam" exec="usb_cam_node_exe" name="camera" >
        <param name="camera_info_url" value="file://$(find-pkg-share blurr)/config/cam_air.yaml"/>
        <param name="frame_id" value="camera"/>
        <param name="camera_name" value="camera"/>
        <param name="image_height" value="600"/>
        <param name="image_width" value="800"/>
        <param name="pixel_format" value="mjpeg2rgb"/>
        <param name="video_device" value="/dev/video3"/>
    </node>-->


    <!-- camera_ros, 01% CPU for compressed (MMAP) -->
    <node pkg="camera_ros" exec="camera_node" name="camera">
        <param name="camera" value="1"/>
        <param name="camera_info_url" value="file://$(find-pkg-share blurr)/config/cam_air.yaml"/>
        <param name="frame_id" value="camera"/>
        <param name="format" value="MJPEG"/>
        <param name="width" value="800"/>
        <param name="height" value="600"/>
        <remap from="~/camera_info" to="camera_info"/>
<!--         <remap from="~/image_raw" to="image"/> -->
        <remap from="~/image_raw/compressed" to="image/compressed"/>
    </node>

</group>
</launch>
