<?xml version="1.0"?>

<launch>

    <arg name="calib" default="false" description="whether or not run a camera calibrator"/>
    <arg name="im_topic" default="image" description="base compressed image topic"/>

    <node pkg="image_transport" exec="republish" name="uncompress">
        <remap from="in/compressed" to="$(var im_topic)/compressed"/>
        <param name="in_transport" value="compressed"/>
        <remap from="out" to="$(var im_topic)"/>
        <param name="out_transport" value="raw"/>
    </node>

    <node pkg=

</launch>
